# Type conversion

Implicit Type Conversion: This happens automatically by the Python interpreter. When you perform operations between different data types, Python converts one or more of them to a common type behind the scenes so that the operation can be completed.

In [1]:
a = 5
b = 2
value = a/b
print(value)
print(type(value))

x = 10
y = 5.5
total = x + y 
print(total)
print(type(total))

j = "Hello"
k = "Teja"
p = j + k
print(p)
print(type(p))

q = 20
u = '10' # it is a string, not number
r = q + u 
print(r) # gives error
 # int and string can't be  added implicitly
m = 20
n = 'Geekyshows'
t = m + n 
print(t) #this too gives error

2.5
<class 'float'>
15.5
<class 'float'>
HelloGeeky Shows
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Explicit Type Conversion (Type Casting): This is when you manually convert the data from one type to another. You explicitly specify the type to which you want to convert the data.

In [2]:
a = 5
b = 2
value = a/b
print(type(value))
int_value = int(value)
print(int_value)
print(type(int_value))

# String to Integer
q = 20
u = '10'
print(type(u))
r = q + int(u)
print(r)

# Float to Integer
n1 = 10.36
vn1 = int(n1)
print(vn1)
print(type(vn1))

# Integer to Float
n2 = 10
vn2 = float(n2)
print(vn2)
print(type(vn2))

# Integer to Complex
n3 = 10
vn3 = complex(n3)
print(vn3)
print(type(vn3))

# Integer to String
n4 = 10
vn4 = str(n4)
print(vn4)
print(type(vn4))

# String to Tuple
n5 = "Teja"
vn5 = tuple(n5)
print(vn5)
print(type(vn5))

# Tuple to List
n5 = ("Suresh", "Teja", "Roshan", "Ajay")
vn5 = list(n5)
print(vn5)
print(type(vn5))

<class 'float'>
2
<class 'int'>
<class 'str'>
30
10
<class 'int'>
10.0
<class 'float'>
(10+0j)
<class 'complex'>
10
<class 'str'>
('T', 'e', 'j', 'a')
<class 'tuple'>
['Suresh', 'Teja', 'Roshan', 'Ajay']
<class 'list'>

# Input and output

input

In [12]:
# Getting user input with prompt ( single prompt)
nm = input("What is Your Name: ")
print(nm)

teja

 using Multiple Prompts

In [13]:
# getting user input without prompt
name = input()
print(name)

nm = input("What is Your Name: ")
print("You name is:", nm)

# Getting input and convert it into integer
mobile = input("Enter Mobile Number: ")
print(type(mobile))
mb = int(mobile)
print(mb)
print(type(mb))

reg = int(input("Enter Registration Number: "))
print(reg)

You name is: Teja
<class 'str'>
1234
<class 'int'>
9876

Output

In [6]:
# print string with double quotes
print("Welcome to Teja Blogs")

# print blank line
print()

# print string with Single quotes
print('Welcome to Teja Blogs')

# print each word in same line becoz inside one print function
print("Like", "Share", "Subscribe")

# print integer
print(10)

# prints in separate line
print("Welcome")
print("to")
print("Teja Blogs")

# print list
data = [10, 20, -50, 21.3, 'Geekyshows']
print(data)

# print with separator
print("Like", "Share", "Subscribe", sep="***")

# print with end 'space'
print("Welcome", end="")
print("to", end="")
print("Teja Blogs")

# print with end 'tab'
print("We", end="\t")
print("to", end="\t")
print("TS")

# print variable value
a = 10
print(a)

# print variable value with separator
x = 20
y = 30
print(x, y)
print(x, y, sep=',')

# print with integer and string
m = 40
print("Value: ", m)

# print with integer and string
name = "Teja"
age = 23
print("My Name is ", name, "and My age is ", age)

Welcome to Teja Blogs

Welcome to Teja Blogs
Like Share Subscribe
10
Welcome
to
Teja Blogs
[10, 20, -50, 21.3, 'Geekyshows']
Like***Share***Subscribe
WelcometoTeja Blogs
We	to	TS
10
20 30
20,30
Value:  40
My Name is  Teja and My age is  23

# Escape Sequence

\’	Single quote
\\’	Double quote
\\	Backslash
\n	Newline
\r	Carriage Return
\t	Horizontal Tab
\b	Backspace
\f	Formfeed
\v	Vertical Tab
\0	Null Character

In [10]:
print("Welcome to TejaBlog")
print("Welcome to\nTejaBlog")
print("Welcome to\tTejaBlog")
print("Welcome to \"TejaBlog\" ")
print("Welcome to \'TejaBlog\' ")

Welcome to TejaBlog
Welcome to
TejaBlog
Welcome to	TejaBlog
Welcome to "TejaBlog"
Welcome to 'TejaBlog'