Ques1 Create a datasets in CSV format consisting of the following data:
              product_id,product_name,category, price,quantity
              Do the following:-
                  a. Load the csv file into the pandas DataFrames
                  b. Check for and handle any missing values or inconsistancy in datasets  (data cleaning)
                  c. Calculate sum of quantity, average of price, total sales & top selling product
                     [use the following methods: sum and mean]

In [8]:
# Let's code tomorrow
# pip install pandas 
import pandas as pd
df=pd.read_csv("productfile.csv")
df

    Product_ID         Product_Name           Categories  Price  Quantity
0            1             Sneakers             Footware   5000         5
1            2                Beans  Grocery and Staples    300         2
2            3            Ice Cream    Dairy and  Frozen   1500         5
3            4         Serving Bowl             Crockery    800         2
4            5               Loafer             Footware   7000         8
5            6             Tomatoes  Grocery and Staples   6000         4
6            7                 Milk    Dairy and  Frozen    500         3
7            8               Sandal             Footware   5498         5
8            9                 Cups                  NaN   1000         6
9           10                 Iron       Home Applances   3600         4
10          11                Heels             Footware   5654         5
11          12          Laundry box   Plastic containers   7866         8
12          13                   AC       Home Applances  56776         7
13          14        Peanut Butter  Grocery and Staples    800         3
14          15               Yogurt    Dairy and  Frozen    500         6
15          16  Milton Plastic jar    Plastic containers   8000         2
16          17           Dinner set                  NaN  10000         8
17          18                Boots             Footware  56000         4
18          19          Plastic Box   Plastic containers    700         5
19          20       Vacuum Cleaner       Home Applances  80000         2
20          21         Formal shoes             Footware   6099         3
21          22              Custard    Dairy and  Frozen    755         7
22          23                 Oats  Grocery and Staples    700         8
23          24                  Pan                  NaN   5000         5
24          25    Whole-Wheat Pasta  Grocery and Staples   8000         7
25          26          Kitten heel             Footware   9000         4
26          27                  Fan       Home Applances    800         3
27          28           Brown Rice  Grocery and Staples   7000         2
28          29         Plastic Bowl   Plastic containers    600         3
29          30         Hiking boots             Footware  10000         2

In [9]:
# cleaning the data
# Rather than dropping the row replaced with the number in price and in category
df["Categories"].fillna("Crockery",inplace=True)
df["Price"].fillna(1000,inplace=True)
print("\n---------- Updated the CSV file Data -----------\n")
df

---------- Updated the CSV file Data -----------

/tmp/ipykernel_39694/2590070060.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Categories"].fillna("Crockery",inplace=True)
/tmp/ipykernel_39694/2590070060.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(1000,inplace=True)

    Product_ID         Product_Name           Categories  Price  Quantity
0            1             Sneakers             Footware   5000         5
1            2                Beans  Grocery and Staples    300         2
2            3            Ice Cream    Dairy and  Frozen   1500         5
3            4         Serving Bowl             Crockery    800         2
4            5               Loafer             Footware   7000         8
5            6             Tomatoes  Grocery and Staples   6000         4
6            7                 Milk    Dairy and  Frozen    500         3
7            8               Sandal             Footware   5498         5
8            9                 Cups             Crockery   1000         6
9           10                 Iron       Home Applances   3600         4
10          11                Heels             Footware   5654         5
11          12          Laundry box   Plastic containers   7866         8
12          13                   AC       Home Applances  56776         7
13          14        Peanut Butter  Grocery and Staples    800         3
14          15               Yogurt    Dairy and  Frozen    500         6
15          16  Milton Plastic jar    Plastic containers   8000         2
16          17           Dinner set             Crockery  10000         8
17          18                Boots             Footware  56000         4
18          19          Plastic Box   Plastic containers    700         5
19          20       Vacuum Cleaner       Home Applances  80000         2
20          21         Formal shoes             Footware   6099         3
21          22              Custard    Dairy and  Frozen    755         7
22          23                 Oats  Grocery and Staples    700         8
23          24                  Pan             Crockery   5000         5
24          25    Whole-Wheat Pasta  Grocery and Staples   8000         7
25          26          Kitten heel             Footware   9000         4
26          27                  Fan       Home Applances    800         3
27          28           Brown Rice  Grocery and Staples   7000         2
28          29         Plastic Bowl   Plastic containers    600         3
29          30         Hiking boots             Footware  10000         2

In [10]:
#Checking the duplicates
check_Dup=df.duplicated()
print(check_Dup)
# if found if prints true else false

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

In [11]:
#3.calculate sum of the quantity, avg of price
# using the sum(), and mean()
sum_quantity=df["Quantity"].sum()
print("The total Quantity : ",sum_quantity)
print("\n")
avg_price=df["Price"].mean()
print("The average of the price ",avg_price)
print("\n")

The total Quantity :  138


The average of the price  10181.6

In [12]:
# Calculate total sells and top selling product
total_sells=df["Quantity"].sum()*df["Price"].sum()
print("Total_sells is: ",total_sells)
top_selling=max(df["Quantity"])
print("the quantity is :",top_selling)
result = df.loc[df['Quantity'] == top_selling, 'Product_Name'].iloc[0]
print("The top selling product :",result)

Total_sells is:  42151824
the quantity is : 8
The top selling product : Loafer

        # Ques2 Create a vehicle class with attributes no of wheels no of airbags,Max speed etc
              Create a constructor & a method that displays vehicle's info

     [important] Ques3 Create a child class bus from vehicle class that inherit all of the variables & methods from vehicles class
              the bus class have its own attributes number at doors, fair per kilometer, number of seats, along with inherited attributes
          Write a method to calculate bus fair by accepting distance in kilometer as parameter

In [6]:
class Vehilce:
    def __init__(self,no_of_wheels,no_of_airbags,max_speed):
        self.no_of_wheels=no_of_wheels
        self.no_of_airbags=no_of_airbags
        self.max_speed=max_speed

    def getdate_info(self):
        self.no_of_wheels=input("Enter no_of_wheels ")
        self.no_of_airbags=input("Enter no_of_airbags ")
        self.max_speed=input("Enter max_speed ")

    def display_info(self):
        print("Enter no_of_wheels ",self.no_of_wheels)
        print("Enter no_of_airbags ",self.no_of_airbags)
        print("Enter max_speed ",self.max_speed)
        print("---------Base class is Ended---------------------")

class Bus(Vehilce):
    def __init__(self,no_of_wheels,no_of_airbags,max_speed,no_of_door,fare_per_km,no_seat,distance):
        super().__init__(no_of_wheels,no_of_airbags,max_speed)
        self.no_of_door=no_of_door
        self.fare_per_km=fare_per_km
        self.no_seat=no_seat
        self.distance=distance
    def getdate_bus(self):
        self.no_of_door=input("Enter no_of_door ")
        self.fare_per_km=input("Enter fare_per_km ")
        self.no_seat=input("Enter no_seat ")
        self.distance=input("Enter the distance ")

    def display_bus(self):
        print("------------------------------------")
        super().display_info()
        print("Enter no_of_door ",self.no_of_door)
        print("Enter fare_per_km ",self.fare_per_km)
        print("Enter no_seat ",self.no_seat)
        print("Enter distance ",self.distance)

    def cal_bus_fare(self):
        print("-----------------------------------")
        total_fare=float(self.distance)*float(self.fare_per_km)
        print("Total fare is ",total_fare)

bus_obj=Bus(6,4,200,2,5,11,3)
bus_obj.getdate_info()
bus_obj.getdate_bus()
bus_obj.display_bus()
bus_obj.cal_bus_fare()

------------------------------------
Enter no_of_wheels  4
Enter no_of_airbags  6
Enter max_speed  120
---------Base class is Ended---------------------
Enter no_of_door  4
Enter fare_per_km  100
Enter no_seat  8
Enter distance  290
-----------------------------------
Total fare is  29000.0